.container {
  margin-top: 224px;
  margin-bottom: 233px;
}

@media (max-width: 768px) {
  .hero__text {
    margin: auto;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .container {
    width: 886px;
  }
  .hero__text {
    padding-right: 87px;
  }
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo__bg {
  position: relative;
  z-index: 1;
}

.logo {
  position: absolute;
  z-index: 2;
  top: 50;
}

.h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
}

.hero__sic {
  color: #4299E1;
}

.hero__button {
  background-color: #4299E1;
  font-size: 18px;
  font-weight: 600;
  width: 111px;
  height: 48px;
}





